<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="menu.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"/>
    <title>Document</title>
</head>
<body>
    <section id="card-principal">
        <h2 class="section-title">VOOS COM ATÉ 50% DE DESCONTO</h2>
        <h3 class="section-subtitle"><strong>Saída:</strong> São Paulo</h3>
  
        <div id="trips">
          <div class="trip">
            <div class="trip-heart">
              <i class="fa-solid fa-heart"></i>
            </div>
  
            <img src="img/goias.jpg" alt="Goiânia" class="trip-img" />
  
            <h3 class="trip-title">Goiânia-GO</h3>
  
            <div class="trip-rate">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <span>(123+)</span>
            </div>
  
            <div class="trip-price">
              <h4>R$138,41</h4>
              <button class="btn-default">
                <i class="fa-solid fa-basket-shopping"></i>
              </button>
            </div>
          </div>
  
          <div class="trip">
            <div class="trip-heart">
              <i class="fa-solid fa-heart"></i>
            </div>
  
            <img src="img/bélem.avif" alt="Belém" class="trip-img" />
  
            <h3 class="trip-title">Belém-PA</h3>
  
            <div class="trip-rate">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <span>(79+)</span>
            </div>
  
            <div class="trip-price">
              <h4>R$189,52</h4>
              <button class="btn-default">
                <i class="fa-solid fa-basket-shopping"></i>
              </button>
            </div>
          </div>
  
          <div class="trip">
            <div class="trip-heart">
              <i class="fa-solid fa-heart"></i>
            </div>
  
            <img src="img/cuiaba.jpg" alt="Cuiabá" class="trip-img" />
  
            <h3 class="trip-title">Cuiabá-MT</h3>
  
            <div class="trip-rate">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <span>(92+)</span>
            </div>
  
            <div class="trip-price">
              <h4>R$193,71</h4>
              <button class="btn-default">
                <i class="fa-solid fa-basket-shopping"></i>
              </button>
            </div>
          </div>
  
          <div class="trip">
            <div class="trip-heart">
              <i class="fa-solid fa-heart"></i>
            </div>
  
            <img
              src="img/porto alegre.jpg"
              alt="Rio de janeiro"
              class="trip-img"
            />
  
            <h3 class="trip-title">Porto Alegre-RS</h3>
  
            <div class="trip-rate">
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <i class="fa-solid fa-star"></i>
              <span>(290+)</span>
            </div>
  
            <div class="trip-price">
              <h4>R$158,10</h4>
              <button class="btn-default">
                <i class="fa-solid fa-basket-shopping"></i>
              </button>
            </div>
          </div>
        </div>
      </section>
</body>
</html>