* {
  font-family: 'Maven Pro', sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background-color: #593493;
}

header {
  background-color: lightgray;
  display: flex;
  justify-content: space-between;
  padding: 16px;
  /* margin-bottom: 16px; */
}

ul {
  display: flex;
  height: 100%;
  align-items: center;
}

nav ul li {
  padding-left: 16px;
  list-style-type: none;
}

main {
    /*background-color: aqua;*/
    color: white;
    padding-top: 10px;
    width: 900px;
    margin: 0 auto;
    font-weight: bold;
}

section {
  display: flex;
}

section div {
  background-image: url(img/bg_laranja.jpg);
  width: 300px;
  height: 200px;
  margin: 10px;
  padding: 20px;
  border-radius: 20px;
}

h1 {
  font-size: 4rem;
  margin-left: 1.5rem;  
}

h2 {
  font-size: 1.5rem;
  margin-left: 1.5rem; 
}

h3 {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

section div{
  transition: transform 1s;
}
 
section div:hover {
  transform: scale(1.1);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}